* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.img{
  width: 100%;
  height: 100%;
}

.container{
  /*display: flex;
  flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
}

.item{
  /*flex: 1;
  flex-basis: 120px;*/
  /* padding: 30px; */
  border: 1px solid black;
  position: relative;
  color: black;
  overflow: hidden;
  box-sizing: border-box;
}

.overlay{
  transition: bottom ease 1s;
  position: absolute;
  bottom: -179px;
  left: 0;
  width:100%;
  background-color: green;
  opacity: .8;
}

.item:hover .overlay{
  opacity: .6;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .container{
    display: block;
  }
}